                    <div class="header_02">News and Events</div>
                        <div class="news_section">
                            <div class="news_date">
                                    29 <span> OCT</span>
                            </div>
                            <div class="news_content">
                                    <div class="header_05"><a href="#">Lorem ipsum dolor sit</a></div>
                                <p>Lorem ipsum dolor sit amet, cons ect etur adipiscing elit. Vestibu lum ac dui non tellus auctor.</p>
                            </div>
                            <div class="cleaner"></div>
                        </div>
                        
                        <div class="news_section">
                            <div class="news_date">
                                    28 <span> OCT</span>
                            </div>
                            <div class="news_content">
                                    <div class="header_05"><a href="#">Nam dictum pellentesque</a></div>
                                <p>Nam ultricies cursus enim, non aliquet orci lacinia ac. Etiam lobortis adipiscing convallis. </p>
                            </div>
                            <div class="cleaner"></div>
                        </div>
                        
                        <div class="news_section">
                            <div class="news_date">
                                    27 <span> OCT</span>
                            </div>
                            <div class="news_content">
                                    <div class="header_05"><a href="#">Donec faucibus tortor</a></div>
                              <p>Aliquam porttitor nibh in erat porttitor in accumsan dui pulvinar. Vivamus a sapien arcu.</p>
                            </div>
                            <div class="cleaner"></div>
                        </div>
                        <div class="news_section">
                            <div class="news_date">
                                    25 <span> OCT</span>
                            </div>
                            <div class="news_content">
                                    <div class="header_05"><a href="#">Donec faucibus tortor</a></div>
                                <p>Aliquam porttitor nibh in erat porttitor in accumsan dui pulvinar. Vivamus a sapien arcu.</p>
                            </div>
                            
                            <div class="cleaner"></div>
                        </div>
                    </div> <!-- end of header 20  -->
